body {
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-family: 'Raleway', sans-serif;
}

.weatherblock {
	margin-top: 10%;
	padding-bottom: 1.5em;
	background-color: rgba(238, 109, 102, 0.7);
	border: 5px solid white;
}